<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>{% block title %}{{ application_name }}{% endblock %}</title>
    <script type="text/javascript" src="http://yui.yahooapis.com/2.7.0/build/yuiloader/yuiloader-min.js"></script> 
    <script src="http://www.google.com/jsapi"></script>
    <link rel="icon" type="image/vnd.microsoft.icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/combo?2.7.0/build/reset-fonts-grids/reset-fonts-grids.css&2.7.0/build/base/base-min.css"> 
    <link rel="stylesheet" type="text/css" href="/static/css/base.css"> 
    <script type="text/javascript">
        google.load("jquery", "1.3.2");
    </script>    
    <script type="text/javascript"> 
        {% block javascript %}{% endblock %}        
        $(document).ready(function() { 
            {% block javascript_jquery %}{% endblock %}            
        }); 
    </script> 
    {% block head %}{% endblock %}
    {% block javascript_templates %}{% endblock %}
  </head>
  <body {% block body_attributes %}class="yui-skin-sam"{% endblock %}>
    <div id="doc2" class="yui-t5">    
        <div id="hd">        
            {% block header %}
                <div class="title">
                    <ul class="nav_menu">
                        <li><a href="/"><strong>{{ application_name }}</strong></a>: </li>
                        <li><a href="/namespace/list">Namespaces</a></li>
                        <li><a href="/message/list">Messages</a></li>
                        <li><a href="http://wiki.github.com/jingleman/log4gae/usage" target="_blank">Help</a></li>
                    </ul>
                </div>
                <div class="login">
                    {% if user %}
                        <span class="item nickname">{{ user.nickname }}</span> |
                        <span class="item"><a href="{{ logout_url|escape }}">Sign out</a></span>
                    {% else %}
                        <span class="item"><a href="{{ login_url|escape }}">Sign in</a></span>
                    {% endif %}
                </div>
            {% endblock %}        
        </div>
        <div id="bd">
            <div id="yui-main"> 
                <div class="yui-b">
                    <div class="yui-g">
                        {% block body %}{% endblock %} 
                    </div> 
                </div> 
            </div> 
            <div class="yui-b">
                {% block sidebar %}{% endblock %}
                {% block flash %}{% if flash.msg %}<div id="flash"><ul>{% for item in flash.msg %}<li>{{ item }}</li>{% endfor %}</ul></div>{% endif %}{% endblock %}
            </div>      
        </div>
    </div>
    <script type="text/javascript">    
        {% block javascript_yui %}{% endblock %}
    </script>
  </body>
</html>
