{% extends "../base.html" %}

{% block body %}

    <h2>Create New Message...</h2>
    <form id="form_message" action="" method="post" class="form">
        <label for="id_namespace">Namespace:</label><br/>
        {{ form.namespace }}<br/>       
        {{ form.namespace.errors }}
        <label for="id_name">Name:</label><br/>      
        {{ form.name }}<br/>       
        {{ form.name.errors }}
        <label for="id_level">Level:</label><br/>
        {{ form.level }}<br/>       
        {{ form.level.errors }}
        <label for="id_auth_key">Authorisation Key:</label><br/>
        {{ form.auth_key }}<br/>
        {{ form.auth_key.errors }}
        <label for="id_level">Body:</label><br/>
        {{ form.body }}<br/>
        {{ form.body.errors }}
        <hr/>     
        <input type="submit" value="Save" /><br/>
    </form>

{% endblock %}

