{% extends "../base.html" %}

{% block body %}

    <h2>Namespaces</h2>
    <p>Namespaces are essentially logging targets that are protected using authorisation keys. Any log message post to a namespace will need to include the authorisation key for that namespace. Refer to the <a href="http://wiki.github.com/jingleman/log4gae/usage" target="_blank" class="noicon">Log4GAE Wiki</a> for further documentation.</p>
    <p><a href="/namespace/create">Create Your Namespace</a></p>
    <table>
        <thead>
            <tr>
                <th>View</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody> 
            {% for item in items %}
                <tr>
                    <td><a href="/namespace/view/{{ item.key }}" title="{{ item.key }}">View</a></td>
                    <td>{{ item.name }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if has_previous %}<a href="?page={{ previous }}">Prev</a>{% endif %}
    {% if has_next %}<a href="?page={{ next }}">Next</a>{% endif %}

{% endblock %}

