{% extends "../base.html" %}

{% block body %}

    <h2>View Namespace</h2>
    <p>The namespace details are displayed below:</p>
    <table class="detailviewer">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ namespace.name }}</td>
            </tr>
            <tr>
                <th>Owner</th>
                <td>{{ namespace.owner }}</td>
            </tr>
            {% if owner %}
                <tr>
                    <th>Authorisation Key</th>
                    <td>{{ namespace.auth_key }}<br/><a href="/namespace/auth_reset/{{ namespace.key }}">Reset Key</a></td>
                </tr>
                <tr>
                    <th>REST API</th>
                    <td>
                        <a href="/rest/message/find/{{ namespace.name }}/{{ namespace.auth_key }}/*/*/*/*" target="_blank">Find All Messages</a><br/>
                    </td>
                </tr>
            {% endif %}
            <tr>
                <th>Created</th>
                <td>{{ namespace.created|date:"d M Y H:i:s" }}</td>
            </tr>
            <tr>
                <th>Modified</th>
                <td>{{ namespace.modified|date:"d M Y H:i:s" }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}

